@using Jiggswap.RazorViewEngine.ViewModels.Trades
@model TradeEmailPuzzleViewModel

<table border="0" cellpadding="4" cellspacing="0" width="100%" style="max-width: @(Model.MaxWidth)px">
    <tr>
        <td align="center">
            @(Model.OwnerUsername)'s Puzzle
        </td>
    </tr>

    <tr style="font-size: 0.75rem">
        <td align="center">
            Shipping From: @(Model.ShippingFrom)
        </td>
    </tr>

    <tr>
        <td>
            <img style="width:100%" src="@(Model.ImageUrl)" />
        </td>
    </tr>
    <tr>
        <td valign="top">
            <table border="0" cellpadding="10" cellspacing="0" width="100%" style="font-size: 0.8rem">
                <tr>
                    <td><b>Title</b>:</td>
                    <td>@(Model.Title)</td>
                </tr>
                <tr>
                    <td><b>Brand</b>:</td>
                    <td>@(Model.Brand)</td>
                </tr>
                <tr>
                    <td><b># Pieces</b>:</td>
                    <td>@(Model.NumPieces) (<b>@(Model.NumPiecesMissing)</b> missing)</td>
                </tr>
            </table>
        </td>
    </tr>
</table>